nav.navbar.navbar-default(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      p.navbar-logo(href='#')
        img(src="/img/logo.png")

    #navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href='/home') home
        li
          a(href='/rooms') rooms
        li
          a(href='/rooms/update') update

      if user
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Hi #{user.username}! 
              b.caret
            ul.dropdown-menu
              li
                a(href='/logout') Sign out
      else
        ul.nav.navbar-nav.navbar-right
          li
            a(href="/login") Sign in
