.navbar-logo {
  margin: 10px 20px 0px 10px;
}

.home {
  padding-top: 100px;
  text-align: center;
}

.home img {
  height: 100px;
}

.mono {
  font-family: Monaco, "Liberation Mono", Courier, monospace;
}
